<!doctype html>
<html>
<head>
    <!-- Main Page when you go to localhost -->
    <!-- Home Page -->
    <title>Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/265ed8ed5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="index">
<div id="now" class="container">

    <div id="run" class="jumbotron text-center will">
        <h1 class="title">Welcome to El Cafe</h1>
        <p class="">Record Your order</p>
       

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Signup</a>

    </div>

</div>
</body>
</html>
